[submodule "plugin-badplugin"]
	path = plugin-badplugin
	url = git@github.com:dialup-mods/plugin-badplugin.git
[submodule "plugin-breakfastchef"]
	path = plugin-breakfastchef
	url = git@github.com:dialup-mods/plugin-breakfastchef.git
[submodule "plugin-toaster"]
	path = plugin-toaster
	url = git@github.com:dialup-mods/plugin-toaster.git
